.form {
  float: center;
  margin-left: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.submit {
  background: #f30991;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  margin: 1rem 10rem 1rem 19rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  width: 12rem;
}
.btn:hover {
  background-color: #df72a8;
  color: antiquewhite;
}
.form-group {
  color: antiquewhite;
  font-size: 1.5rem;
}
.form,
.btn {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
    3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
    0.125rem 0.125rem rgba(0, 0, 0, 0.04);
}
.form-control {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
